.boxs{
  position: relative;
  width: 170px;
  height: 170px;
  background: rgba(104, 92, 92, 0.5);
  border-radius: 50%;
  overflow: hidden;
}

.boxs::before{
  content: '';
  position: absolute;
  inset: -0px 70px;
  background: linear-gradient(315deg,#00BBA6,#00BBA6);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.boxs:hover:before{
  inset: -20px 0px;
}

@keyframes animate{

  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }

}

.boxs::after{
  content: '';
  position: absolute;
  inset: 6px ;
  /* background: #242525; */
  border-radius: 50%;
  z-index: 1;
}

.contentss{
  position: absolute;
  inset: 10px;
  /* border: 1px solid #242525; */
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentss img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.boxs:hover .contentss img{
  opacity: 0;
}

.contentss h2{
  position: relative;
  font-size: 1.25em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.contentss a{
  position:relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: #fff;
  color: #070a1c;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s;
}

.contentss a:hover{
  letter-spacing: 0.2em;

}

.ab_me{
  margin-top: 40px;
  text-align: justify;
  
}

.ab_me h6{
  font-family: 'Merriweather', serif;
}

.me{
  color: red;
  font-weight: bold;
}

.para{
  font-size: 20px;
}